<div>Existing Pain Points</div>
<ul>
  <% PainPoint.find(:all).each do |pain_point| %>
    <li id="pain_point_<%=pain_point.id%>">
        <span>Up</span>
        &nbsp;
        <span>Down</span>
        &nbsp;
        <%= link_to pain_point.name, edit_pain_point_path(pain_point) %>
    </li>
  <% end %>
</ul>

<p>Create a new pain point</p>

<% form_for PainPoint.new, :url => pain_points_path do |f| %>
  <%= f.text_field :name %>
  <%= submit_tag 'Create' %>
<% end %>
