<div>Existing Pain Points</div>
<ul>
  <% PainPoint.find(:all).each do |pain_point| %>
    <%= Views::PainPoints::Show.new(self, :pain_point => pain_point).to_s %>
  <% end %>
</ul>

<p>Create a new pain point</p>

<% form_for PainPoint.new, :url => pain_points_path do |f| %>
  <%= f.text_field :name %>
  <%= submit_tag 'Create' %>
<% end %>
