ul {
  list-style-type: none;
  padding-left: 0;
}

.score {
  margin-right: 0.5em;
}

.selected {
  font-weight: bold;
}

div.login {
  padding-left: 5em;
}

  div.login label {
    clear: both;
  }

  div.login label {
    display: block;
    float: left;
    width: 7em;
  }
